{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
{{block.super}}

{% block styles %}
  {% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/basephotos.css' %}">
  {% endblock %}
<body style="background-color:rgb(133, 145, 199)">
<div class="container">
<h1 style = "text-align: center"> Pictures <h1>
 <hr>
    {% for photos_item in photos %}
		<div class = "row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img src="{{photos_item.photos_image.url}}" class="img-responsive" alt="Image">
            </div>

		<a  href="{% url 'photos' photos_item.images %}"><button type="button" name="button" class="btn btn-danger"> view image</button></a>
    
	
</div>

</body>



    {% endfor %}
    {% block scripts %}
        <script src="static/scripts.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
{% endblock %}
